@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Roboto', sans-serif !important;
    }

    body {
        background-color: #fcfbfc;
        overflow-x: hidden;
    }
}

@layer components {
    .input-box {
        @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded py-3 px-4 mt-3 mb-4 border border-slate-200 outline-none;
    }
    .btn-primary {
        @apply w-full text-sm font-medium text-white bg-violet-500 shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-1 hover:bg-purple-600/15 hover:text-purple-600;
    }
}